<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100vw;
            height: 100vh;
            background-color: #f1f1f1;
            font-family: "roboto", "sans-serif";

        }

        form {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            border-radius: .78rem;
            background-color: #fff;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        #titulo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #estoque {
            height: 1.2rem;
            padding: .2rem 0rem .2rem .5rem;

        }

        #btnsFom {
            display: flex;
            justify-content: center;
            margin-top: .5rem;

        }

        #btnSave {
            background-color: rgb(84, 84, 252);
            color: #fff;
            border: none;
            padding: .5rem;
            border-radius: .5rem;
            font-weight: 600;
            cursor: pointer;
            margin-right: 2rem;
        }

        #btnDel {
            background-color: rgb(252, 84, 84);
            color: #fff;
            border: none;
            padding: .5rem;
            border-radius: .5rem;
            font-weight: 600;
            cursor: pointer;
        }

        input {
            padding: .5rem;


        }

        label {
            margin-top: .5rem;
            font-weight: 700;
            font-size: medium;
        }

        #btnSave:hover {
            background-color: rgb(33, 33, 248);
        }

        #btnDel:hover {
            background-color: rgb(248, 33, 33);
        }

        table {
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;

        }



        th {
            background-color: #2c2c2c;
            color: rgb(252, 252, 252);
        }

        td {
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #dfdede;
            color: black;
            margin-left: .78rem;
            margin-right: .78rem;
        }

        td:nth-child(7) {
            background-color: #f1f1f1;
        }

        th:nth-child(7) {

            background-color: #f2f2f2;
            color: rgb(252, 252, 252);
            width: 12rem;
        }


        .edit {
            background-color: rgb(84, 84, 252);
            color: #fff;
            border: none;
            padding: .5rem;
            border-radius: .5rem;
            font-weight: 600;
            cursor: pointer;
            margin-right: 2rem;
            margin-top: .2rem;
            margin-bottom: .5rem;
        }

        .delete {
            background-color: rgb(252, 84, 84);
            color: #fff;
            border: none;
            padding: .5rem;
            border-radius: .5rem;
            font-weight: 600;
            cursor: pointer;
        }

        .edit:hover {
            background-color: rgb(33, 33, 248);
        }

        .delete:hover {
            background-color: rgb(248, 33, 33);
        }
    </style>

    <title>cadastro</title>
</head>

<body>
    {{{body}}}
</body>

</html>